
body {
  /* background-image: url('./Images/back2.jpg'); */
 
  
  /* background-image:url('./Images/Real3.jpg'); */
  background-image:url('./Images/frontpage4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


  .no-scroll {
    overflow: hidden; /* Hide scrollbars */
  }