
body {
  background-image: url('./Images/back2.jpg'); /* Replace with your image URL */
  background-size: 100% 120%; 
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


  .no-scroll {
    overflow: hidden; /* Hide scrollbars */
  }